body{
    background: black;
}
h1{
    color: chartreuse;
    margin: auto;
    text-align: center;
}
.container{
    height: 500px;
    width: 1150px;
    border: 4px solid rgb(56, 6, 6);
    margin: auto;
    margin-top: 5%;
}
.eye{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    padding-top: 40px;
    transition: height 2s ease;
}

.container:hover .right{
    animation: right 1s infinite;
}
@keyframes right{
    0%{
        height: 0px;
        background: red;
    }
    25%{
        height: 25px;
        background: rgb(99, 253, 125);
    }
    50%{
        height: 35px;
        background: white;
    }
    100%{
        height: 0px;
        background: yellow;
    }
}
.container:hover .left{
    animation: left 1s infinite;
}
@keyframes left{
    0%{
        height: 0px;
        background: red;
    }
    25%{
        height: 25px;
        background: rgb(99, 253, 125);
    }
    50%{
        height: 35px;
        background: white;
    }
    100%{
        height: 0px;
        background: yellow;
    }
}

.face{
    height: 120px;
    width: 150px;
    background: chartreuse;
    margin: auto;
    margin-top: 7%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    transition: width 1s ease;
    
}
.container:hover .face{
    background: red;
    animation:  face 0.7s infinite;
}
@keyframes face{
    0%{
        transform: translateX(20px)
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(20px);
    }
}

.left{
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 50%;
    margin-top: 20px;
}
.right{
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 50%;
    margin-top: 20px;
}
.body{
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
}
.leftarm{
    height: 85px ;
    width: 25px;
    margin-top: 15px;
    background: chartreuse;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.container:hover .leftarm{
    animation: leftarm 0.7s infinite;
}
@keyframes leftarm{
    0%{
        background: blueviolet;
        transform: rotate(90deg);
        transform-origin: top center;
    }
    10%{
        background: salmon;
        
    }
    25%{
        background: red;
        
    }
    35%{
        background: orange;
        
    }
    50%{
        background: blanchedalmond;
        transform: rotate(270deg);
       
    }
    65%{
        background: violet;
        
    }
    75%{
        background: chartreuse;
        
    }
    100%{
        background: blue;
        transform: rotate(90deg);
        transform-origin: top center;
    }
}

.rightarm{
    height: 85px ;
    width: 25px;
    background: chartreuse;
    margin-top: 15px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.container:hover .rightarm{
    animation: rightarm 0.7s infinite;
}
@keyframes rightarm{
    0%{
        background: blueviolet;
        transform: rotate(90deg);
        transform-origin: top center;
    }
    10%{
        background: salmon;
        
    }
    25%{
        background: red;
        
    }
    35%{
        background: orange;
        
    }
    50%{
        background: blanchedalmond;
        transform: rotate(270deg);
       
    }
    65%{
        background: violet;
        
    }
    75%{
        background: chartreuse;
        
    }
    100%{
        background: blue;
        transform: rotate(90deg);
        transform-origin: top center;
    }

}
.center{
    height: 125px;
    width: 150px;
    background: chartreuse;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.container:hover .center{
    animation: center 0.7s infinite;
    border-radius: 50%;
}
@keyframes center{
    0%{
        background: blueviolet;
        transform: rotate(0deg);
    }
    10%{
        background: salmon;
        
    }
    25%{
        background: red;
        
    }
    35%{
        background: orange;
        
    }
    50%{
        background: blanchedalmond;
       
    }
    65%{
        background: violet;
        
    }
    75%{
        background: chartreuse;
        
    }
    100%{
        background: blue;
        transform: rotate(360deg);
    }

}

.leg{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    padding-top: 40px;
    margin: auto;
    margin-top: -3%;

}
.leftleg{
    height: 85px ;
    width: 25px;
    background: chartreuse;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.container:hover .leftleg{
    animation: leftleg 0.7s infinite;
}
@keyframes leftleg{
    0%{
        background: blueviolet;
        transform: rotate(0deg);
        transform-origin: top center;
    }
    10%{
        background: salmon;
        
    }
    25%{
        background: red;
        
    }
    35%{
        background: orange;
        
    }
    50%{
        background: rgb(150, 107, 43);
        transform: rotate(45deg);
       
    }
    65%{
        background: violet;
        
    }
    75%{
        background: chartreuse;
        
    }
    100%{
        background: blue;
        transform: rotate(-45deg);
        transform-origin: top center;
    }
}
.rightleg{
    height: 85px ;
    width: 25px;
    background: chartreuse;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.container:hover .rightleg{
    animation: rightleg 0.7s infinite;
}
@keyframes rightleg{
    0%{
        background: blueviolet;
        transform: rotate(0deg);
        transform-origin: top center;
    }
    10%{
        background: salmon;
        
    }
    25%{
        background: red;
        
    }
    35%{
        background: orange;
        
    }
    50%{
        background: blanchedalmond;
        transform: rotate(45deg);
       
    }
    65%{
        background: violet;
        
    }
    75%{
        background: chartreuse;
        
    }
    100%{
        background: blue;
        transform: rotate(-45deg);
        transform-origin: top center;
    }
}

.container:hover{
    animation: container 0.1s infinite;
}

@keyframes container{
    0%{
        background: white;
    }
    100%{
        background: black;
    }
}